
<div class="customers">
  <div>
      <h3> <%= customer.fullname  %></h3>
      <%= image_tag(customer.image,size: "212x219") %>
      <p><%= customer.phone %></p>
      <p><%= customer.email %></p>
  </div>

</div>
